---
interface Props {
  category: string;
  subCategories?: string[];
}

let {category, subCategories} = Astro.props;

category = category.replace(' ', '-').toLowerCase();
if(subCategories) subCategories = subCategories.map((subCategory: string) => subCategory.replace(' ', '-').toLowerCase());
---
<li>
    {
        subCategories ? 
        <details class="group" id={category}>
            <summary class="text-lg font-medium text-gray-400 hover:text-black dark:text-gray-400 dark:hover:text-white">{category}</summary> 
            <ul class="ml-4 mt-2 space-y-1">
                {subCategories?.map((subCategory: string) => <li><a href={`/blog/${category}/${subCategory}`} class="text-gray-400 hover:text-gray-600">{subCategory}</a></li>)}
            </ul>
        </details>
        :
        <a href={`/blog/${category}`} class="text-lg font-medium text-gray-400 hover:text-black dark:text-gray-400 dark:hover:text-white">{category}</a>
    }
</li>

<script define:vars={{category}}>
    const details = document.getElementById(category);

    const isOpen = localStorage.getItem(category) === 'true';
    details.open = isOpen;

    details.addEventListener('toggle', function() {
        localStorage.setItem(category, details.open);
    });
</script>